@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ha like you have any rights her</p>
<p>Now all your data is mine</p>
<img src="/Img/Yeet.png" alt="Get Fucked" />
