@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="privecytext">@ViewData["Title"]</h1>

<h2 class="privecytext">Ha like you have any rights her</h2>
<h2 class="privecytext">Now all your data is mine</h2>
<img src="/Img/Yeet.png" alt="Get Fucked" />
