@page
@model MessageBoardWeb.Pages.SeAlleMessagesModel
<div class="container">
    <div class="col-lg-12">
        <h1>All Messages that have ben uploaded</h1>
    </div>
    <br />
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.MessagesList != null)
                {
                    <table class="table table-dark">
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Category</th>
                        </tr>
                        @foreach (var Message in Model.MessagesList)
                        {
                            <tr>
                                <td>@Message.Title</td>
                                <td>@Message.Content</td>
                                @foreach (var Category in Model.Categorys)
                                {
                                    @if (Message.CategoryId == Category.CateogryId)
                                    {
                                        <td>@Category.CategoryName</td>
                                    }

                                }
                                <td>
                                    <a asp-page="/Edit/EditMessage" asp-route-id=@Message.MessageId>Edit</a> |
                                    <a asp-page="/Details/DetaileMessages" asp-route-id=@Message.MessageId>Details</a> |
                                    <a asp-page="/Delete/DeleteMessage" asp-route-id=@Message.MessageId>Delete</a>
                                </td>

                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>
