@page "{id:int}"
@model MessageBoardWeb.Pages.Edit.EditMessageModel
<div class="container">
    <div class="col-lg-12">
        <h1>Message Editing</h1>
    </div>
    <br />
    <div class="col-lg-12">
        <form method="post" asp-route="@Model.GetMessages.MessageId">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Insert New Title: </p>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="@Model.GetMessages.Title" asp-for="Title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Insert New Content: </p>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="@Model.GetMessages.Content" asp-for="Content" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Insert Category Name: </p>
                            <div class="input-group">
                                <label>@Model.GetCategory.CategoryName</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <button type="submit" class="btn btn-info">Save Message</button>
                        <br />
                    </div>
                </div>
            </div>
        </form>

        <br />
        <a asp-page="../Index" class="btn btn-primary"><i class="btn text-white">Back To Home</i></a>
    </div>
</div>
